@charset "UTF-8";
@import "common";
/*登录界面样式设置*/
.main{
  color: #4b4a4a;
  height: 100%;
  min-height: 400px;
  z-index: 2;
  position: relative;
  .login-box{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 442px;
    position: relative;
    margin: 0 auto;
    top:120px;
    background: #E9F1F5;
  }
}
