@charset "UTF-8";
@import "common";
/*登录界面样式设置*/
body{
  background: url("../../images/login/login-bg.jpg");
 /* display: flex;*/
 /* align-items: center; !*定义body的元素垂直居中*!
  justify-content: center; !*定义body的里的元素水平居中*!*/
 /* background-size:cover;*/
}
.main{
  color: #4b4a4a;
  height: 100%;
  min-height: 400px;
  z-index: 2;
  position: relative;
  .login-box{
    padding: 30px 15px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 360px;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
   /* width:50%;*/
    -webkit-transform: translateX(-50%) translateY(-50%);/*chrome*/
    -moz-transform: translateX(-50%) translateY(-50%);/*firefox*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);/*opera浏览器*/
    transform: translateX(-50%) translateY(-50%);

    .layui-form-item{
      margin-bottom: 20px;
      .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px 9px 0;
        width: auto;
        font-weight: 400;
        text-align: left;
        .iconfont{
          font-size: 25px;
        }
      }
      .layui-input-inline{
        float: left;
        width: 290px;
        margin-right: 10px;
        #getPhoneNum{
           position: absolute;
           top:0;
           right:0;
        }
        #captchaImage{
          position: absolute;
          top: 1px;
          right: 0;
          height: 36px;
        }
      }
    }

  }
}
