@charset "UTF-8";
@import "common";
/*整体样式设计*/
.layui-layout-admin{
  /*header样式*/
  .my-header{
    .layui-main{
      .top-left{
          position: absolute;line-height: 57px;width: 185px;
        .logo {
          color: #fff;
          font-size: 18px;
          line-height: 60px
        }
        .menu-flexible{
          color: #009688;left: 157px;float: right;
          .layui-icon{
            font-size:23px;
          }
        }

      }
      .top-menu {
        position: absolute;
        top: 0;
        left: 200px;
        font-size: 17px;
        background: 0
      }
      .operate {
        position: absolute;
        top: 0;
        right: 0;
        background: 0
      }
    }

  }
 /*左侧导航样式*/
  .my-side{
    .layui-nav[lay-filter=left-menu] {
      border-radius: 0
    }
    .left-menu {
      display: none;
      &:first-child {
        display: block
      }
    }
  }
  /*content样式*/
  .my-body{
    padding: 0 10px;
    .layui-tab[lay-filter=top-tab] {
      margin: 0
    }
    .layui-tab[lay-filter="top-tab"] .layui-tab-title li:first-child .layui-tab-close{
      display: none
    }
    #frame{
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
    .container{
      border: 1px solid #e2e2e2;
      margin-top: 5px;
      padding: 10px;
    }
  }
  /*footer样式*/
  .my-footer{
    text-align: center;
    line-height: 44px
  }
}

/* layui 样式覆盖 */
html body .layui-nav .layui-nav-bar {
 /* opacity: 0 !important;
  overflow: hidden !important;*/
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
 /* background-color: transparent;*/
}
/* media */
@media screen and (max-width: 1023px) {
  .my-header ul.layui-nav, .my-header-btn, .my-side, .layui-field-title, .my-btn-box .fr {
   /* display: none;*/
  }

  .layui-side-scroll{
    width: 170px;
  }

  body div.my-mobile {
   /* background: #393D49;*/
  }

  body div.my-mobile .layui-layer-content {
    overflow-x: hidden;
  }

  .my-header ul.my-header-user-nav {
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
  }

  .my-header ul.my-header-user-nav a {
    padding: 0 10px;
  }

  .my-header ul.my-header-user-nav:last-child a:first-child {
    padding-right: 20px;
  }

  .my-side, .layui-nav-tree, .my-btn-box input[type='text'] {
    width: 150px;
  }

  .my-body {
    left: 0;
    width: 100%;
    overflow-x: auto;
  }

  .my-body iframe {
    width: 100%;
  }

  select {
    background: white;
  }

  .layui-layout-admin .layui-footer {
    left: 0;
  }
}

@media screen and ( max-width: 450px) {
  .my-header ul.my-header-user-nav li a.pay {
    display: none;
  }
}

/*监控部分*/
.migu-monitor-container{

  .layui-breadcrumb{
    visibility: visible;
    background: #fff;
    position: fixed;
  }
  .monitor-nav{
    background: #fff;
    width: 200px;
    top: 55px;
    li{
      line-height: 1.5;
      padding-left: 5px;
      cursor: pointer;
      a{
        i{
          font-size: 30px;
          padding:0 5px 0 0;
        }
      }
    }
    li.current{
      background: #ddd;
    }
  }
  .monitor-content{
     margin-left: 220px;
    top: 45px;
    position: relative;
    .layui-elem-field{
      legend{
        background: #FED4BC;
        border-radius: 25px;
        color: #333;
        font-size: 14px;
      }
      .layui-field-box{
        padding:10px 20px;
         li{
           line-height: 30px;
         }
        .layui-inline{
          width: 23%;
          text-align: center;
          h4{
            margin-bottom: 15px;
          }
          div{
            text-align: left;
          }
        }
      }
      .layui-jvm-list{
        background: #eee;
        margin-bottom: 10px;
        padding: 0 0 0 10px;
         li{
           float:left;
           padding: 10px;
           max-width: 150px;
           strong{
             color:#66B150;
           }
         }
        li:first-child{
          min-width: 100px;
        }
      }
    }
  }

}
.migu-warning-container{
   .layui-tab-content{
     .layui-form[lay-filter="my-editor-form"]{
       input[readonly]{
         color:#ccc;
       }
     }
     .layui-btns-group{
          text-align: right;
       }
   }
}
/*响应式布局设计*/
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .migu-monitor-container .monitor-content .layui-elem-field .layui-jvm-list li {
      min-width: 60px;
      max-width: 70px;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  .migu-monitor-container .monitor-content .layui-elem-field .layui-jvm-list li {
    min-width: 90px;
    max-width: 100px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .migu-monitor-container .monitor-content .layui-elem-field .layui-jvm-list li {
     min-width: 110px;
     max-width: 120px;
  }
}